*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 0;
}

.product-review-card{
    display:flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    overflow: hidden;
}

.image-container{
    width:100%;
}

.image-container img{
    width: 100%;
}
.desktop-image{
    display: none;
}

.product-info{
    padding: 1rem;
    color:hsl(228, 12%, 48%);
}

.category{
    font-size: 0.75rem;
    letter-spacing: 0.35rem;
    opacity: 0.5;
    /* margin-bottom: 1rem; */
}

.product-name{
    margin-top: 0.5rem;
    font-family: "Fraunces" , serif;
    font-size: 2rem;
    /* font-weight: 700; */
    color: hsl(212, 21%, 14%);
    /* font-size: 1rem; */
}

.product-description{
    font-size: 1rem;
}

.product-price{
    display: flex;
    align-items: center;
    
}

.product-price__sale{
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

.product-price__normal{
    margin-left: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    text-decoration: line-through;
}

.cart-button{
    width: 100%;
    height: 2.75rem;
    background-color:hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 0;
}

.cart-button:hover{
    background-color: hsl(158, 37%, 26%);
}


@media screen and (min-width: 768px) {
    
    .product-info{
        height: 100%; 
        padding: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category{
        font-size: 1.05rem;
    }
    .product-name{
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .product-description{
        margin: 0;
        
        font-size: 1.5rem;
    }

    .cart-button{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .product-review-card{
        flex-direction: row;
        height: 75%;
        width: 85%;
        overflow: hidden;
    }

    .image-container{
        width: 50%;
        height: 100%;
    }

    .mobile-image{
        display: none;
    }

    .desktop-image{
        height: 100%;
        display: inline;
    }

    .product-info{
        width: 50%;
        height: 100%;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category{
        font-size: 1.5rem;
        margin: 0;
    }

    .product-name{
        font-size: 4.75rem;
        margin: 0;
    }

    .product-description{
        margin: 0;
        font-size: 1.85rem;
    }

    .product-price__sale{
        font-size: 4rem;
    }

    .product-price__normal{
        font-size: 1.75rem;
    }

    .cart-button{
        width: 100%;
        height: 5rem;
        padding: 1.5rem;
        font-size: 1.75rem;
        text-align: center;
        vertical-align: center;
    }

    .cart-button img{
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 1rem;
    }
}

